@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<h2>Vous allez être redirigés !</h2>

<h3>Redirection maladroite :</h3>
<form asp-action="Redirections" asp-controller="Dragon" method="POST">
    <input type="hidden" name="Id" value="1" />
    <button type="submit">Redirige-moi mal !</button>
</form>

<h3>Redirection complète :</h3>
<form asp-action="Redirections" asp-controller="Dragon" method="POST">
    <input type="hidden" name="Id" value="2" />
    <button type="submit">Redirige-moi bien !</button>
</form>